{# templates/admin/components/total_general.html.twig #}
<div id="total-general-container" style="margin-top: 20px; font-weight: bold; font-size: 18px;">
    Total général : <span id="total-general">0.00</span> MAD
</div>
